*.iml
.gradle
/local.properties
/.swp
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
client_secret.apps.googleusercontent.com.json
youtube_api_key
/**/PrivateConstants.kt
